{% extends 'rango/base.html' %} {% load static %} 
{% block title_block %}About Rango{% endblock %}
{% block body_block %}
    <h1>Rango says...</h1>
    <div>
      Rango says here is the about page. <br />
      <strong>This tutorial has been put together by Saleh</strong>
      <br>
      <p>Visits: {{ visits }}</p>
    </div>
    <div>
      <a href="/rango/">Home</a>
      <br />
      <img src="{% static 'images/rango.jpg'%}" alt="Picture of Rango" />
      <br />
      <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat." />
      <br />
    </div>
{% endblock body_block %}